<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assests/CSS/Product_css/Product.css" />
    <link rel="stylesheet" href="~/Assests/CSS/GridSystem_Responsive_css/Responsive.css" />
    <link href="~/Assests/CSS/_LayoutMater_css/_LayoutMaster.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assests/CSS/GridSystem_Responsive_css/grid.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Switch/Switch_menu.css" />
    <link rel="stylesheet" href="~/Assests/CSS/FORM/VADITION.css" />
    <link rel="stylesheet" href="~/Assests/CSS/_LayoutMater_css/Modal_user.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Base_css/base.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Bear_css/bear.css" />
    <link rel="stylesheet" href="~/Assests/CSS/OrderProduct/OrderProductCss.css" />
    <link rel="stylesheet" href="~/Assests/CSS/ContactUscss/contact.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Footer/footer.css" />
    <link rel="stylesheet" href="~/Assests/CSS/MenuMobile_css/menumobile.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Load_css/Load_css.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Details/details.css" />
    <link rel="stylesheet" href="~/Scripts/scripts/Product_js.js" />
    <link rel="stylesheet" href="~/Assests/CSS/buttonmap/buttonmap.css" />
    <link href="~/Assests/CSS/FilterBox_css/filterbox.css" rel="stylesheet" />
    <link href="~/Assests/CSS/HeaderSearch/HeaderSearch.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <title>AirBnB-Clone Home</title>
    <link rel="shortcut icon" href="~/Assests/_image/Airicon/Airbnb-icon.ico" />
</head>
<body>

    <div class="main">
        <!-- Navbar -->
        <div class="header">
            <div class="grid wide">
                <nav class="navbar-mobile navbar row">
                    <div class="nav-left col l-1 hide-on-mobile">
                        <a href="/Product/Product_Index_Main" class="navbar__link">
                            <img src="~/Assests/_image/navbar_image/logo.png" alt="" class="navbar__img" style="width: 120px;height:100%">
                        </a>
                    </div>
                    <div class="nav-middle col l-4 search-container">
                        <div class="navbar__box nav-middle_width">
                            <ul class="navbar__list">
                                <li class="navbar__item navbar__item-space navbar__link-none"><a href="#" class="navbar__link">Địa điểm bất kỳ</a></li>
                                <li class="navbar__item navbar__item-space navbar__link-none"><a href="#" class="navbar__link">Tuần bất kỳ</a></li>
                                <li class="navbar__item navbar__link-none"><a href="#" class="navbar__link navbar__link--no-bold ">Thêm khách</a></li>
                                <li class="navbar__item"><a href="#" class="navbar__link"><i class="navbar__icon fa-solid fa-magnifying-glass"></i></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="nav-right user-navbar__header col l-1 hide-on-mobile">
                        <div class=" navbar__box user-navbar__box">
                            <ul class="navbar__list">
                                <li class="navbar__item-user"><span class="navbar__link"><i class="navbar__icon--user fa-solid fa-bars"></i></span></li>
                                <li class="navbar__item-user"><span class="navbar__link"><i class="navbar__icon--user fa-solid fa-user"></i></span></li>
                            </ul>
                        </div>
                        <div class="user-header__form--active-Parent">
                            <div class="form-user--overplay"></div>
                            <div class="user-header__form--active">
                                <div class="user-header__form-box">

                                    @*<button class="user-header__form--navRegister">Sign In</button>
                        <button class="user-header__form--navLogin">Log in</button>
                        <hr style="border: 0.1px solid #cfcfcf " />
                        <button class="user-header__form--support">Airbnb your home</button>
                        <button class="user-header__form--support">Help Center</button>*@
                                    @*@Html.Action("Index","User")*@
                                    @{var user = Session["User"] as AirBNB_Admin.Models.User;}

                                    @{ if (user == null)
                                        {
                                            <button class="user-header__form--navRegister">Sign in</button>
                                            <button class="user-header__form--navLogin">Log in</button>
                                            <hr style="border: 0.1px solid #cfcfcf " />
                                            <button class="user-header__form--support">Airbnb your home</button>
                                            <button class="user-header__form--support">Help Center</button>
                                        }
                                        else /*login dc */
                                        {
                                            <a class="user-header__form--navHello" href="/UserMobile/Index" style="color:black;text-decoration:none;padding:15px 0;text-align:center;font-size:1.6rem; font-weight:500">
                                                Hello @user.User_Name
                                            </a>
                                            <hr style="border: 0.1px solid #cfcfcf " />
                                            <button class="user-header__form--support">Airbnb your home</button>
                                            <button class="user-header__form--navWishList">@Html.ActionLink("Wish List", "ShowWish", "WishList", null, new { @class = "rs-alink" })</button>// mot sua thanh actionlink
                                            <button class="user-header__form--support">Help Center</button>
                                            <button class="user-header__form--navLogout">@Html.ActionLink("Logout", "Logout", "User", null, new { @class = "rs-alink" })</button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        @{ var xx = Session["event"] as AirBNB_Admin.Models.Rooms;}
        @if (xx == null)
        {
            @Html.Partial("_Menu")
        }
        else
        {
            Session["event"] = 1;
        }



        <div class="render-body-content">
            <!-- Product -->
            @RenderBody()
        </div>
        <footer class="footer">
            <div style="padding:0 20px">
                <div class="grid wide">
                    <h2 style="text-align:center" class="footer__header">Nguồn cảm hứng cho những kỳ nghỉ sau này</h2>
                    <div class="footer__container row">
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Canmore</h4>
                            <p class="footer__text">Nhà gỗ chalet cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Benalmádena</h4>
                            <p class="footer__text">Nhà cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Marbella</h4>
                            <p class="footer__text">Biệt thự cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Mijas</h4>
                            <p class="footer__text">Nhà cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Prescott</h4>
                            <p class="footer__text">Nhà cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Scottsdale</h4>
                            <p class="footer__text">Dinh thự cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Tucson</h4>
                            <p class="footer__text">Nhà cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Jasper</h4>
                            <p class="footer__text">Nhà nghỉ dưỡng cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Mountain View</h4>
                            <p class="footer__text">Cabin cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Devonport</h4>
                            <p class="footer__text">Nhà nghỉ thôn dã cho thuê</p>
                        </div>
                        <div class="footer__box col l-2 m-3 c-4">
                            <h4 class="footer-box__header">Mallacoota</h4>
                            <p class="footer__text">Chỗ ở cho thuê phù hợp với thú cưng</p>
                        </div>
                    </div>
                    <div class="footer-under__container row">
                        <div class="footer-under__box col l-4 m-4 c-6">
                            <h5 class="footer__box-header">Hỗ trợ</h5>
                            <ul class="footer-under__list">
                                <li class="footer-under__item"><a href="" class="footer-under__link">Trung tâm trợ giúp</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">AirCover</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Chống phân biệt đối xử</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Hỗ trợ người khuyết tật</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Các tùy chọn hủy</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Báo cáo lo ngại của khu dân cư</a></li>
                            </ul>
                        </div>
                        <div class="footer-under__box col l-4 m-4 c-6">
                            <h5 class="footer__box-header">Đón tiếp khách</h5>
                            <ul class="footer-under__list">
                                <li class="footer-under__item"><a href="" class="footer-under__link">Đón tiếp khách</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">AirCover cho Chủ nhà</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Tài nguyên về đón tiếp khách</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Diễn đàn cộng đồng</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Đón tiếp khách có trách nhiệm</a></li>
                            </ul>
                        </div>
                        <div class="footer-under__box col l-4 m-4 c-6">
                            <h5 class="footer__box-header">Airbnb</h5>
                            <ul class="footer-under__list">
                                <li class="footer-under__item"><a href="" class="footer-under__link">Trang tin tức</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Tính năng mới</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Cơ hội nghề nghiệp</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Nhà đầu tư</a></li>
                                <li class="footer-under__item"><a href="" class="footer-under__link">Chỗ ở khẩn cấp Airbnb.org</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__powered row">
                        <div class="footer__powered-left ">
                            <p class="footer__text">© 2023 Airbnb, Inc.</p>
                            <a href="" style="margin:0" class="footer-powered__link">Quyền riêng tư</a>
                            <a href="" class="footer-powered__link">Điều khoản</a>
                            <a href="" class="footer-powered__link">Sơ đồ trang web</a>
                            <a href="@Url.Action("Contact","Home")" class="footer-powered__link">About us</a>
                            <a style="font-weight:600" href="https://localhost:44371/" class="footer-powered__link">Admin</a>
                        </div>
                        <div class="footer__powered-right">
                            <i class="footer__icon fa-solid fa-globe"></i>
                            <a href="" class="footer-powered__link footer-powered__link--bold">Tiếng Việt</a>
                            <span class="dollar">$</span>
                            <a href="" class="footer-powered__link footer-powered__link--no-margin footer-powered__link--bold">USD</a>
                            <a href="" class="footer-powered__link footer-powered__link--icon footer-powered__link--bold"><i class="fa-brands fa-facebook"></i></a>
                            <a href="" class="footer-powered__link footer-powered__link--icon footer-powered__link--bold"><i class="fa-brands fa-twitter"></i></a>
                            <a href="" class="footer-powered__link footer-powered__link--icon footer-powered__link--bold"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-Main"></div>

        </footer>
        <div class="form-vadition--modal">
            <div class="form-vadition--overplay"></div>
            <div class="form-vadition__container--login">
                @Html.Action("LoginAccount", "User")
            </div>
            <div class="form-vadition__container--register">
                @Html.Action("RegisterUser", "User")
            </div>
        </div>
    </div>



    @*  BEGIN LOADER *@
    <div class="container_Load">
        <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
            <div class="wheel"></div>
            <div class="hamster">
                <div class="hamster__body">
                    <div class="hamster__head">
                        <div class="hamster__ear"></div>
                        <div class="hamster__eye"></div>
                        <div class="hamster__nose"></div>
                    </div>
                    <div class="hamster__limb hamster__limb--fr"></div>
                    <div class="hamster__limb hamster__limb--fl"></div>
                    <div class="hamster__limb hamster__limb--br"></div>
                    <div class="hamster__limb hamster__limb--bl"></div>
                    <div class="hamster__tail"></div>
                </div>
            </div>
            <div class="spoke"></div>
        </div>

    </div>
    @* END LOADER *@


    @*  BEGIN overplay FILTER BOX  *@
    <div class="form-filter--modal">
        <div class="form-filter--overplay"></div>
        <div style="position: fixed; left: 50%; transform: translateX(-50%); max-width: 800px; right: 0; z-index: 10; background-color: white; top: 26%; height: 60%; overflow: hidden; border-radius: 15px;min-width:400px " class="filter-form">
            @Html.Partial("~/Views/Product/SearchOptions.cshtml") @* cai nay chi la cai box search option thoi *@
        </div>
    </div>
    @*  END  overplay FILTER BOX  *@


    @*  Begin overplay HeaderSearch BOX  *@
    <div class="form-headerSearch--modal">
        <div class="form-HeaderSeach--overplay"></div>
    </div>
    @*  End overplay HeaderSearch BOX  *@


    @* Menu-Mobile *@



    @{var usermb = Session["User"] as AirBNB_Admin.Models.User;}

    @{ if (usermb == null) // neu k co dang nhap
        {
            <div style="z-index:5" class="menu-mobile menu-mobile--active">
                <a style="color:black;text-decoration:none" href="/UserMobile/Index">
                    <div class="menu-mobile__box">
                        <i class="menu-mobile__icon fa-solid fa-magnifying-glass"></i>
                        <span style="color: rgb(113, 113, 113); text-decoration:none;font-weight:700" class="menu-mobile__name">Khám phá</span>
                    </div>
                </a>
                <a style="color:black;text-decoration:none" href="/UserMobile/Index">
                    <div class="menu-mobile__box">
                        <i class="menu-mobile__icon fa-regular fa-heart"></i>
                        <h4 class="menu-mobile__name">
                            <span class="rs-alink-mb">Yêu thích</span>
                        </h4>
                    </div>
                </a>
                <a style="color:black;text-decoration:none" href="/UserMobile/Index">
                    <div class="menu-mobile__box">
                        <i class="menu-mobile__icon fa-regular fa-user"></i>
                        <h4 class="menu-mobile__name"> <span class="rs-alink-mb">Đăng nhập</span></h4>
                    </div>
                </a>

            </div>
        }
        else /*login dc */
        {
            <div style="z-index:5" class="menu-mobile menu-mobile--active">
                <div class="menu-mobile__search" style="color:black;text-decoration:none">
                    <div class="menu-mobile__box">
                        <i class="menu-mobile__icon fa-solid fa-magnifying-glass"></i>
                        <span style="color: rgb(113, 113, 113); text-decoration:none;font-weight:700" class="menu-mobile__name">Khám phá</span>
                    </div>
                </div>
                <a style="color:black;text-decoration:none" href="/WishList/ShowWish">
                    <div class="menu-mobile__box">
                        <i class="menu-mobile__icon fa-regular fa-heart"></i>
                        <h4 class="menu-mobile__name">
                            <span class="rs-alink-mb">Yêu thích</span>
                        </h4>
                    </div>
                </a>
                <a style="color:black;text-decoration:none" href="/UserMobile/Index">
                    <div class="menu-mobile__box">
                        <i class="menu-mobile__icon fa-regular fa-user"></i>
                        <h4 class="menu-mobile__name"> <span class="rs-alink-mb">Đăng nhập</span></h4>
                    </div>
                </a>

            </div>
        }
    }





    @* End Menu-Mobile *@

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/scripts/FilterBox.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/scripts/Modal_user.js"></script>
    <script>
        var boxfilterforuser = document.querySelector('.form-filter--overplay') // bat cai box mo
        var form = document.querySelector('.form-filter--modal') // bat form
        var filterbox = document.querySelector('.box-loc') // cai box filter
        var icfilterbox = document.querySelector('.filterbox-ic') // icon filter box
        var headerSearch = document.querySelector('.nav-middle') // search header
        var searchMenu = document.querySelectorAll('.menu-mobile__box')
        for (var i = 0; i < searchMenu.length; i++) {
            //if (searchMenu[0].classList.contains('.menu-mobile__search')){
            //    searchMenu[0].addEventListener('click', moboxfilter)
            //}
            searchMenu[0].addEventListener('click', moboxfilter)
        }
        //var menuSearch = document.querySelector('.menu-mobile__search')
        //menuSearch.addEventListener('click', moboxfilter)
        headerSearch.addEventListener('click', moboxfilter)
        filterbox.addEventListener('click', moboxfilter)
        function moboxfilter() { // su kien mo filterbox
            form.classList.add('active')
        }
        boxfilterforuser.addEventListener('click', closefilterbox)
        icfilterbox.addEventListener('click', closefilterbox) // su kien tat  filterbox = icon hoac form
        function closefilterbox() {
            form.classList.remove('active')
        }
      
        // su kien tat  filterbox = form
        //form.addEventListener('click', closeFilterBoxWithForm)
        //function closeFilterBoxWithForm (){
        //     form.classList.remove('active')
        //    boxfilterforuser.classList.remove('active')
        //}
        document.addEventListener('DOMContentLoaded', function () {
            var checkbox = document.getElementById('checkboxInput');
            var item = document.querySelector('.oo'); // su kien mac dinh
            var items = document.querySelector('.ee') // su kien texas
            if (checkbox) { // true
                checkbox.addEventListener('change', function () {
                    if (checkbox.checked) {
                        // Checkbox đã được chọn
                        console.log('Checkbox is checked'); // >> thue
                        //loadPartialView(partialViewName, partialViewContainer);
                        // action to product Ago

                        //item.classList.add('anoo');
                        //items.classList.add('hienee');
                        item.style.display = "none";
                        items.style.display = "block";
                    } else { // false
                        // Checkbox đã bị bỏ chọn
                        console.log('Checkbox is unchecked'); // bth
                        // action to product index
                        //item.classList.remove('anoo');
                        //items.classList.remove('hienee');
                        item.style.cssText = "block !important";
                        items.style.cssText = "none !important";

                    }
                });
            }
        });
        ////////////// LOADER //
        document.addEventListener("DOMContentLoaded", function () {
            var load = document.querySelector('.container_Load');
            setTimeout(timeLoad, 1500);

            function timeLoad() {
                load.classList.add('none');
            }
        });
    </script>
    <style>
        .none {
            display: none !important;
        }
    </style>

</body>
</html>
