<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assests/CSS/Product_css/Product.css" />
    <link rel="stylesheet" href="~/Assests/CSS/GridSystem_Responsive_css/Responsive.css" />
    <link href="~/Assests/CSS/_LayoutMater_css/_LayoutMaster.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assests/CSS/GridSystem_Responsive_css/grid.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Switch/Switch_menu.css" />
    <link rel="stylesheet" href="~/Assests/CSS/FORM/VADITION.css" />
    <link rel="stylesheet" href="~/Assests/CSS/_LayoutMater_css/Modal_user.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Base_css/base.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Bear_css/bear.css" />
    <link rel="stylesheet" href="~/Assests/CSS/loader_css/loader.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Footer/footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    <div class="main">
        <!-- Navbar -->
        <div class="header">
            <div class="grid wide">
                <nav class="navbar row">
                    <div class="nav-left col l-1">
                        <a href="#" class="navbar__link">
                            <img src="~/Assests/_image/navbar_image/logo.png" alt="" class="navbar__img" style="width: 120px;height:100%">
                        </a>
                    </div>
                    <div class="nav-middle col l-4 ">
                        <div class="navbar__box">
                            <ul class="navbar__list">
                                <li class="navbar__item navbar__item-space"><a href="#" class="navbar__link">Địa điểm bất kỳ</a></li>
                                <li class="navbar__item navbar__item-space"><a href="#" class="navbar__link">Tuần bất kỳ</a></li>
                                <li class="navbar__item "><a href="#" class="navbar__link navbar__link--no-bold">Thêm khách</a></li>
                                <li class="navbar__item"><a href="#" class="navbar__link"><i class="navbar__icon fa-solid fa-magnifying-glass"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-right user-navbar__header col l-1">
                        <div class=" navbar__box user-navbar__box">
                            <ul class="navbar__list">
                                <li class="navbar__item-user"><span class="navbar__link"><i class="navbar__icon--user fa-solid fa-bars"></i></span></li>
                                <li class="navbar__item-user"><span class="navbar__link"><i class="navbar__icon--user fa-solid fa-user"></i></span></li>
                            </ul>
                        </div>
                        <div class="user-header__form--active-Parent">
                            <div class="form-user--overplay"></div>
                            <div class="user-header__form--active">
                                <div class="user-header__form-box">
                                    <button class="user-header__form--navRegister">Sign In</button>
                                    <button class="user-header__form--navLogin">Log in</button>
                                    <hr style="border: 0.1px solid #cfcfcf " />
                                    <button class="user-header__form--support">Airbnb your home</button>
                                    <button class="user-header__form--support">Help Center</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navbar -->
        <!-- Menu -->
        <div class="menu">
            <div class="grid wide">
                <div class="menu__container row">
                    <div class="menu-left col l-9 m-12 c-12">
                        @Html.Action("Category_Index", "Category")
                    </div>
                    <div class="menu-right col l-3 m-0 c-0">
                        <div class="menu-right__box navbar__box">
                            <p class="menu__content">Hiển thị tổng trước thuế</p>
                            <input type="checkbox" id="checkboxInput">
                            <label for="checkboxInput" class="toggleSwitch">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END  Menu -->
        <!--Begin Product -->
        <div class="content">
            <div class="grid wide">
                <div class="content__container row">
                    @Html.Action("Product_Index", "Product")
                </div>
            </div>
        </div>
        <!--END  Product -->
         @RenderBody() <!-- sau nay lam mappp -->
        <div class="form-vadition--modal">
            <div class="form-vadition--overplay"></div>
            <div class="form-vadition__container--login">
                <!-- *NANG (SUA form-vadition__container >> form-vadition__container--login  )
                BEGIN  header-->
                <div class="vadition__header pdlr24">
                    <div class="vadition__header-icon"><i class="fa-solid fa-x"></i></div>
                    <header class="vadition__header-tittle">Log in</header>
                </div>
                <hr />
                @*END HEADER
                    BEGIN BOX*@
                <div class="vadition__box pd24">
                    <h1 style="margin-bottom: 20px;" class="vadition__box-tittle">
                        Welcome to Airbnb
                    </h1>
                    <form class="vadition__box-form">
                        <div class="vadition__box-wrapper">
                            <p class="vadition__box-tittle--input">Your Number Phone : </p>
                            <input placeholder="Number Phone" type="number" class="vadition__box-numberPhone">
                        </div>
                        <div class="vadition__box-wrapper">
                            <p class="vadition__box-tittle--input">Your Password : </p>
                            <input placeholder="Password" type="password" class="vadition__box-password">
                        </div>
                        <div class="vadition__box-decripstion">
                            We’ll call or text you to confirm your number. Standard message and data rates apply.
                            <p class="vadition__box-privacyPolity">Privacy Policy</p>
                        </div>
                        <button class="btn vadition__box-submit">Continue</button>
                    </form>
                    <div class="form-line"><hr><p>or</p><hr></div>
                    <div class="vadition__box-connect ">
                        <button type="submit" class="btn form--facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px;"><path fill="#1877F2" d="M32 0v32H0V0z"></path><path fill="#FFF" d="M22.94 16H18.5v-3c0-1.27.62-2.5 2.6-2.5h2.02V6.56s-1.83-.31-3.58-.31c-3.65 0-6.04 2.21-6.04 6.22V16H9.44v4.63h4.06V32h5V20.62h3.73l.7-4.62z"></path></svg>
                            <span>Continue with Facebook</span>
                        </button>
                        <button type="submit" class="btn form--google">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px;"><path fill="#4285f4" d="M24.12 25c2.82-2.63 4.07-7 3.32-11.19H16.25v4.63h6.37A5.26 5.26 0 0 1 20.25 22z"></path><path fill="#34a853" d="M5.62 21.31A12 12 0 0 0 24.12 25l-3.87-3a7.16 7.16 0 0 1-10.69-3.75z"></path><path fill="#fbbc02" d="M9.56 18.25c-.5-1.56-.5-3 0-4.56l-3.94-3.07a12.08 12.08 0 0 0 0 10.7z"></path><path fill="#ea4335" d="M9.56 13.69c1.38-4.32 7.25-6.82 11.19-3.13l3.44-3.37a11.8 11.8 0 0 0-18.57 3.43l3.94 3.07z"></path></svg>
                            <span>Continue with Google</span>
                        </button>
                        <button type="submit" class="btn form--apple">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" focusable="false" style="height: 20px; width: 20px; display: block; fill: currentcolor;"><path d="m13.3 2.1a5.1 5.1 0 0 1 3.8-2.1 5.1 5.1 0 0 1 -1.2 3.8 4.1 4.1 0 0 1 -3.6 1.7 4.5 4.5 0 0 1 1-3.4zm-5 3.7c-2.8 0-5.8 2.5-5.8 7.3 0 4.9 3.5 10.9 6.3 10.9 1 0 2.5-1 4-1s2.6.9 4 .9c3.1 0 5.3-6.4 5.3-6.4a5.3 5.3 0 0 1 -3.2-4.9 5.2 5.2 0 0 1 2.6-4.5 5.4 5.4 0 0 0 -4.7-2.4c-2 0-3.5 1.1-4.3 1.1-.9 0-2.4-1-4.2-1z"></path></svg>
                            <span>Continue with Apple</span>
                        </button>
                        <button type="submit" class="btn form--email">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px; fill: currentcolor;"><path d="M30.51 5.88A5.06 5.06 0 0 0 26 3H6a5.06 5.06 0 0 0-4.51 2.88A4.94 4.94 0 0 0 1 8v16a5 5 0 0 0 5 5h20a5 5 0 0 0 5-5V8a4.94 4.94 0 0 0-.49-2.12ZM6 5h20a2.97 2.97 0 0 1 1.77.6L17.95 14a2.98 2.98 0 0 1-3.9 0L4.23 5.6A2.97 2.97 0 0 1 6 5Zm23 19a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V8a2.97 2.97 0 0 1 .1-.74l9.65 8.27a4.97 4.97 0 0 0 6.5 0l9.65-8.27A2.97 2.97 0 0 1 29 8Z"></path></svg>
                            <span>Continue with Email</span>
                        </button>
                    </div>
                </div>
                END BOx
            </div>
            <div class="form-vadition__container--register">
                <!-- *NANG (SUA form-vadition__container >> form-vadition__container--register  )
                 icon
                BEGIN  header-->
                <div class="vadition__header pdlr24">
                    <div class="vadition__header-icon"><i class="fa-solid fa-x"></i></div>
                    <header class="vadition__header-tittle">Sign up</header>
                </div>
                <hr />
                @*END HEADER
                    BEGIN BOX*@
                <div class="vadition__box pd24">
                    <h1 style="margin-bottom: 20px;" class="vadition__box-tittle">
                        Welcome to Airbnb
                    </h1>
                    <form class="vadition__box-form">
                        <div class="vadition__box-wrapper">
                            <p class="vadition__box-tittle--input">Your Number Phone : </p>
                            <input placeholder="Number Phone" type="number" class="vadition__box-numberPhone">
                        </div>
                        <div class="vadition__box-wrapper">
                            <p class="vadition__box-tittle--input">Your Password : </p>
                            <input placeholder="Password" type="password" class="vadition__box-password">
                        </div>
                        <div class="vadition__box-wrapper">
                            <p class="vadition__box-tittle--input">Confirm Your Password :</p>
                            <input placeholder="Password" type="password" class="vadition__box-confirmPassword">
                        </div>
                        <div class="vadition__box-decripstion">
                            We’ll call or text you to confirm your number. Standard message and data rates apply.
                            <p class="vadition__box-privacyPolity">Privacy Policy</p>
                        </div>
                        <button class="btn vadition__box-submit">Continue</button>
                    </form>
                    <div class="form-line"><hr><p>or</p><hr></div>
                    <div class="vadition__box-connect ">
                        <button type="submit" class="btn form--facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px;"><path fill="#1877F2" d="M32 0v32H0V0z"></path><path fill="#FFF" d="M22.94 16H18.5v-3c0-1.27.62-2.5 2.6-2.5h2.02V6.56s-1.83-.31-3.58-.31c-3.65 0-6.04 2.21-6.04 6.22V16H9.44v4.63h4.06V32h5V20.62h3.73l.7-4.62z"></path></svg>
                            <span>Continue with Facebook</span>
                        </button>
                        <button type="submit" class="btn form--google">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px;"><path fill="#4285f4" d="M24.12 25c2.82-2.63 4.07-7 3.32-11.19H16.25v4.63h6.37A5.26 5.26 0 0 1 20.25 22z"></path><path fill="#34a853" d="M5.62 21.31A12 12 0 0 0 24.12 25l-3.87-3a7.16 7.16 0 0 1-10.69-3.75z"></path><path fill="#fbbc02" d="M9.56 18.25c-.5-1.56-.5-3 0-4.56l-3.94-3.07a12.08 12.08 0 0 0 0 10.7z"></path><path fill="#ea4335" d="M9.56 13.69c1.38-4.32 7.25-6.82 11.19-3.13l3.44-3.37a11.8 11.8 0 0 0-18.57 3.43l3.94 3.07z"></path></svg>
                            <span>Continue with Google</span>
                        </button>
                        <button type="submit" class="btn form--apple">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true" focusable="false" style="height: 20px; width: 20px; display: block; fill: currentcolor;"><path d="m13.3 2.1a5.1 5.1 0 0 1 3.8-2.1 5.1 5.1 0 0 1 -1.2 3.8 4.1 4.1 0 0 1 -3.6 1.7 4.5 4.5 0 0 1 1-3.4zm-5 3.7c-2.8 0-5.8 2.5-5.8 7.3 0 4.9 3.5 10.9 6.3 10.9 1 0 2.5-1 4-1s2.6.9 4 .9c3.1 0 5.3-6.4 5.3-6.4a5.3 5.3 0 0 1 -3.2-4.9 5.2 5.2 0 0 1 2.6-4.5 5.4 5.4 0 0 0 -4.7-2.4c-2 0-3.5 1.1-4.3 1.1-.9 0-2.4-1-4.2-1z"></path></svg>
                            <span>Continue with Apple</span>
                        </button>
                        <button type="submit" class="btn form--email">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 20px; width: 20px; fill: currentcolor;"><path d="M30.51 5.88A5.06 5.06 0 0 0 26 3H6a5.06 5.06 0 0 0-4.51 2.88A4.94 4.94 0 0 0 1 8v16a5 5 0 0 0 5 5h20a5 5 0 0 0 5-5V8a4.94 4.94 0 0 0-.49-2.12ZM6 5h20a2.97 2.97 0 0 1 1.77.6L17.95 14a2.98 2.98 0 0 1-3.9 0L4.23 5.6A2.97 2.97 0 0 1 6 5Zm23 19a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V8a2.97 2.97 0 0 1 .1-.74l9.65 8.27a4.97 4.97 0 0 0 6.5 0l9.65-8.27A2.97 2.97 0 0 1 29 8Z"></path></svg>
                            <span>Continue with Email</span>
                        </button>
                    </div>
                </div>
                @*END BOx*@
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/scripts/Modal_user.js"></script>
</body>
</html>
