<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assests/CSS/Product_css/Product.css" />
    <link rel="stylesheet" href="~/Assests/CSS/GridSystem_Responsive_css/Responsive.css" />
    <link href="~/Assests/CSS/_LayoutMater_css/_LayoutMaster.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assests/CSS/GridSystem_Responsive_css/grid.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Switch/Switch_menu.css" />
    <link rel="stylesheet" href="~/Assests/CSS/FORM/VADITION.css" />
    <link rel="stylesheet" href="~/Assests/CSS/_LayoutMater_css/Modal_user.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Base_css/base.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Bear_css/bear.css" />
    <link href="~/Assests/CSS/loader_css/loader.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assests/CSS/Footer/footer.css" />
    <link href="~/Assests/CSS/Load_css/Load_css.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    <div class="main">
        <!-- Navbar -->
        <div class="header">
            <div class="grid wide">
                <nav class="navbar row">
                    <div class="nav-left col l-1">
                        <a href="#" class="navbar__link">
                            <img src="~/Assests/_image/navbar_image/logo.png" alt="" class="navbar__img" style="width: 120px;height:100%">
                        </a>
                    </div>
                    <div class="nav-middle col l-4 ">
                        <div class="navbar__box">
                            <ul class="navbar__list">
                                <li class="navbar__item navbar__item-space"><a href="#" class="navbar__link">Địa điểm bất kỳ</a></li>
                                <li class="navbar__item navbar__item-space"><a href="#" class="navbar__link">Tuần bất kỳ</a></li>
                                <li class="navbar__item "><a href="#" class="navbar__link navbar__link--no-bold">Thêm khách</a></li>
                                <li class="navbar__item"><a href="#" class="navbar__link"><i class="navbar__icon fa-solid fa-magnifying-glass"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-right user-navbar__header col l-1">
                        <div class=" navbar__box user-navbar__box">
                            <ul class="navbar__list">
                                <li class="navbar__item-user"><span class="navbar__link"><i class="navbar__icon--user fa-solid fa-bars"></i></span></li>
                                <li class="navbar__item-user"><span class="navbar__link"><i class="navbar__icon--user fa-solid fa-user"></i></span></li>
                            </ul>
                        </div>
                        <div class="user-header__form--active-Parent">
                            <div class="form-user--overplay"></div>
                            <div class="user-header__form--active">
                                <div class="user-header__form-box">
                                    <button class="user-header__form--navRegister">Sign In</button>
                                    <button class="user-header__form--navLogin">Log in</button>
                                    <hr style="border: 0.1px solid #cfcfcf " />
                                    <button class="user-header__form--support">Airbnb your home</button>
                                    <button class="user-header__form--support">Help Center</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navbar -->
        <!-- Menu -->
        <div class="menu">
            <div class="grid wide">
                <div class="menu__container row">
                    <div class="menu-left col l-9 m-12 c-12">
                        @Html.Action("Category_Index", "Category")
                    </div>
                    <div class="menu-right col l-3 m-0 c-0">
                        <div class="menu-right__box navbar__box">
                            <p class="menu__content">Hiển thị tổng trước thuế</p>
                            <input type="checkbox" id="checkboxInput">
                            <label for="checkboxInput" class="toggleSwitch">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END  Menu -->
        <!--Begin Product -->
        <div class="content">
            <div class="grid wide">
                <div class="content__container row">
                    @Html.Action("Product_Index", "Product")
                </div>
            </div>
        </div>
        <!--END  Product -->
        @RenderBody() <!-- sau nay lam mappp -->
        <div class="form-vadition--modal">
            <div class="form-vadition--overplay"></div>
            <div class="form-vadition__container--login">
                @Html.Action("FormLogin", "User")
            </div>
            <div class="form-vadition__container--register">
                @Html.Action("RegisterUser", "User")
            </div>
        </div>
    </div>



    @*  BEGIN LOADER *@
<div class="container_Load">
    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
        <div class="wheel"></div>
        <div class="hamster">
            <div class="hamster__body">
                <div class="hamster__head">
                    <div class="hamster__ear"></div>
                    <div class="hamster__eye"></div>
                    <div class="hamster__nose"></div>
                </div>
                <div class="hamster__limb hamster__limb--fr"></div>
                <div class="hamster__limb hamster__limb--fl"></div>
                <div class="hamster__limb hamster__limb--br"></div>
                <div class="hamster__limb hamster__limb--bl"></div>
                <div class="hamster__tail"></div>
            </div>
        </div>
        <div class="spoke"></div>
    </div>

</div>



    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/scripts/Modal_user.js"></script>
   <script>

       ////////////// LOADER // 
       const load = document.querySelector('.container_Load');
       function timeLoad() {
           load.classList.add('none')
       

       }

       setTimeout(timeLoad, 1500)

       //if (location.reload(true)){
       //    load.classList.remove('none')

       //}
   </script>
    <style>
        .none{
            display : none !important;
        }
    </style>
</body>
</html>
