<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assests/CSS/Product_css/Product.css" />
    <link rel="stylesheet" href="~/Assests/CSS/GridSystem_Responsive_css/Responsive.css" />
    <link href="~/Assests/CSS/_LayoutMater_css/_LayoutMaster.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assests/CSS/GridSystem_Responsive_css/grid.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Switch/Switch_menu.css" />
    <link rel="stylesheet" href="~/Assests/CSS/FORM/VADITION.css" />
    <link rel="stylesheet" href="~/Assests/CSS/_LayoutMater_css/Modal_user.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Base_css/base.css" />
    <link rel="stylesheet" href="~/Assests/CSS/Bear_css/bear.css" />
    <link rel="stylesheet" href="~/Assests/CSS/OrderProduct/OrderProductCss.css" />
    <link href="~/Assests/CSS/loader_css/loader.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assests/CSS/Footer/footer.css" />
    <link rel="stylesheet" href="~/Assests/CSS/MenuMobile_css/menumobile.css" />
    <link href="~/Assests/CSS/Load_css/Load_css.css" rel="stylesheet" />
    <link href="~/Assests/CSS/Details/details.css" rel="stylesheet" />
    <link href="~/Scripts/scripts/Product_js.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>

    <div class="main">
        <!-- Navbar -->
        <div class="header">
            <div class="grid wide">
                <nav class="navbar-mobile navbar row">
                    <div class="nav-left col l-1 hide-on-mobile">
                        <a href="https://localhost:44371" class="navbar__link">
                            <img src="~/Assests/_image/navbar_image/logo.png" alt="" class="navbar__img" style="width: 120px;height:100%">
                        </a>
                    </div>
                    <div class="nav-middle col l-4 ">
                        <div class="navbar__box">
                            <ul class="navbar__list">
                                <li class="navbar__item navbar__item-space"><a href="#" class="navbar__link">Địa điểm bất kỳ</a></li>
                                <li class="navbar__item navbar__item-space"><a href="#" class="navbar__link">Tuần bất kỳ</a></li>
                                <li class="navbar__item "><a href="#" class="navbar__link navbar__link--no-bold">Thêm khách</a></li>
                                <li class="navbar__item"><a href="#" class="navbar__link"><i class="navbar__icon fa-solid fa-magnifying-glass"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-right user-navbar__header col l-1 hide-on-mobile">
                        <div class=" navbar__box user-navbar__box">
                            <ul class="navbar__list">
                                <li class="navbar__item-user"><span class="navbar__link"><i class="navbar__icon--user fa-solid fa-bars"></i></span></li>
                                <li class="navbar__item-user"><span class="navbar__link"><i class="navbar__icon--user fa-solid fa-user"></i></span></li>
                            </ul>
                        </div>
                        <div class="user-header__form--active-Parent">
                            <div class="form-user--overplay"></div>
                            <div class="user-header__form--active">
                                <div class="user-header__form-box">

                                    @*<button class="user-header__form--navRegister">Sign In</button>
                                        <button class="user-header__form--navLogin">Log in</button>
                                        <hr style="border: 0.1px solid #cfcfcf " />
                                        <button class="user-header__form--support">Airbnb your home</button>
                                        <button class="user-header__form--support">Help Center</button>*@
                                    @*@Html.Action("Index","User")*@
                                    @{var user = Session["User"] as AirBNB_Admin.Models.User;}

                                    @{ if (user == null)
                                        {
                                            <button class="user-header__form--navRegister">Sign In</button>
                                            <button class="user-header__form--navLogin">Log in</button>
                                            <hr style="border: 0.1px solid #cfcfcf " />
                                            <button class="user-header__form--support">Airbnb your home</button>
                                            <button class="user-header__form--support">Help Center</button>
                                        }
                                        else /*login dc */
                                        {
                                            <button class="user-header__form--navHello">Hello @user.User_Name</button>
                                            <hr style="border: 0.1px solid #cfcfcf " />

                                            <button class="user-header__form--support">Airbnb your home</button>
                                            <button class="user-header__form--navWishList">@Html.ActionLink("Wish List", "ShowWish", "WishList", null, new { @class = "rs-alink" })</button>// mot sua thanh actionlink
                                            <button class="user-header__form--support">Help Center</button>
                                            <button class="user-header__form--navLogout">@Html.ActionLink("Logout", "Logout", "User", null, new { @class = "rs-alink" })</button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        @{ var xx = Session["event"] as AirBNB_Admin.Models.Rooms;}
        @if (xx == null)
        {
            @Html.Partial("_Menu")
        }
        else
        {
            Session["event"] = 2;
        }

        @RenderBody() <!-- sau nay lam mappp -->
        <footer class="footer">
            <div class="grid wide">
                <h2 class="footer__header">Nguồn cảm hứng cho những kỳ nghỉ sau này</h2>
                <ul class="footer__list">
                    <li class="footer__item footer__item--chosen"><a href="" class="footer__link footer__link--chosen">Phổ biến</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Văn hoá và nghệ thuật</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Ngoài trời</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Dãy núi</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Bãi biển</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Danh mục</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Những điều nên trải nghiệm</a></li>
                </ul>
                <div class="footer__container row">
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                    <div class="footer__box col l-2 m-3 c-4">
                        <h4 class="footer-box__header">Canmore</h4>
                        <p class="footer__text">Căn hộ cho thuê</p>
                    </div>
                </div>
                <div class="footer-under__container row">
                    <div class="footer-under__box col l-4 m-4 c-6">
                        <h5 class="footer__box-header">Hỗ trợ</h5>
                        <ul class="footer-under__list">
                            <li class="footer-under__item"><a href="" class="footer-under__link">Trung tâm trợ giúp</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">AirCover</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Chống phân biệt đối xử</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Hỗ trợ người khuyết tật</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Các tùy chọn hủy</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Báo cáo lo ngại của khu dân cư</a></li>
                        </ul>
                    </div>
                    <div class="footer-under__box col l-4 m-4 c-6">
                        <h5 class="footer__box-header">Đón tiếp khách</h5>
                        <ul class="footer-under__list">
                            <li class="footer-under__item"><a href="" class="footer-under__link">Đón tiếp khách</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">AirCover cho Chủ nhà</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Tài nguyên về đón tiếp khách</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Diễn đàn cộng đồng</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Đón tiếp khách có trách nhiệm</a></li>
                        </ul>
                    </div>
                    <div class="footer-under__box col l-4 m-4 c-6">
                        <h5 class="footer__box-header">Airbnb</h5>
                        <ul class="footer-under__list">
                            <li class="footer-under__item"><a href="" class="footer-under__link">Trang tin tức</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Tính năng mới</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Cơ hội nghề nghiệp</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Nhà đầu tư</a></li>
                            <li class="footer-under__item"><a href="" class="footer-under__link">Chỗ ở khẩn cấp Airbnb.org</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__powered row">
                    <div class="footer__powered-left col l-9 m-12 c-12">
                        <p class="footer__text">© 2023 Airbnb, Inc.</p>
                        <a href="" class="footer-powered__link">Quyền riêng tư</a>
                        <a href="" class="footer-powered__link">Điều khoản</a>
                        <a href="" class="footer-powered__link">Sơ đồ trang web</a>
                    </div>
                    <div class="footer__powered-right col l-3 m-12 c-12">
                        <i class="footer__icon fa-solid fa-globe"></i>
                        <a href="" class="footer-powered__link footer-powered__link--bold">Tiếng Việt</a>
                        <span class="dollar">$</span>
                        <a href="" class="footer-powered__link footer-powered__link--no-margin footer-powered__link--bold">USD</a>
                        <a href="" class="footer-powered__link footer-powered__link--icon footer-powered__link--bold"><i class="fa-brands fa-facebook"></i></a>
                        <a href="" class="footer-powered__link footer-powered__link--icon footer-powered__link--bold"><i class="fa-brands fa-twitter"></i></a>
                        <a href="" class="footer-powered__link footer-powered__link--icon footer-powered__link--bold"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <div class="form-vadition--modal">
            <div class="form-vadition--overplay"></div>
            <div class="form-vadition__container--login">
                @Html.Action("LoginAccount", "User")
            </div>
            <div class="form-vadition__container--register">
                @Html.Action("RegisterUser", "User")
            </div>
        </div>
    </div>



    @*  BEGIN LOADER *@
    <div class="container_Load">
        <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
            <div class="wheel"></div>
            <div class="hamster">
                <div class="hamster__body">
                    <div class="hamster__head">
                        <div class="hamster__ear"></div>
                        <div class="hamster__eye"></div>
                        <div class="hamster__nose"></div>
                    </div>
                    <div class="hamster__limb hamster__limb--fr"></div>
                    <div class="hamster__limb hamster__limb--fl"></div>
                    <div class="hamster__limb hamster__limb--br"></div>
                    <div class="hamster__limb hamster__limb--bl"></div>
                    <div class="hamster__tail"></div>
                </div>
            </div>
            <div class="spoke"></div>
        </div>

    </div>


    @* Menu-Mobile *@
    <div class="menu-mobile menu-mobile--active">
        <div class="menu-mobile__box">
            <i class="menu-mobile__icon fa-solid fa-magnifying-glass"></i>
            <h4 class="menu-mobile__name">Khám phá</h4>
        </div>
        <div class="menu-mobile__box">
            <i class="menu-mobile__icon fa-regular fa-heart"></i>
            <h4 class="menu-mobile__name">Yêu thích</h4>
        </div>
        <div class="menu-mobile__box">
            <i class="menu-mobile__icon fa-regular fa-user"></i>
            <h4 class="menu-mobile__name">Đăng nhập</h4>
        </div>
    </div>
    @* End Menu-Mobile *@

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/scripts/Modal_user.js"></script>
    <script>

        ////////////// LOADER //
        const load = document.querySelector('.container_Load');
        function timeLoad() {
            load.classList.add('none')


        }

        setTimeout(timeLoad, 1500)


               //if (location.reload(true)){
               //    load.classList.remove('none')

               //}
    </script>
    <style>
        .none {
            display: none !important;
        }
    </style>
</body>
</html>
