
@model AirBNB_Admin.Models.AdminUser
@{
    ViewBag.Title = "LoginAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("LoginAdmin", "HomeAdmin"))
{
    @Html.AntiForgeryToken()
    <style>
        .field-validation-error {
            color: red;
        }
    </style>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div style="max-width:600px;margin:auto">
        <div class="vadition__header pdlr24">
            <header class="vadition__header-tittle">Log in</header>
        </div>
        <hr />
        @*END HEADER
            BEGIN BOX*@
        <div style=" overflow-y: hidden!important" class="vadition__box pd24">
            <h1 style="margin-bottom: 20px;" class="vadition__box-tittle">
                Welcome to Airbnb Admin
            </h1>
            <form class="vadition__box-form">
                <div class="vadition__box-wrapper">
                    @Html.LabelFor(model => model.Email_User)
                    @Html.EditorFor(model => model.Email_User, new { htmlAttributes = new { placeholder = "Your Email" } })
                    @Html.ValidationMessageFor(model => model.Email_User)
                </div>
                <div class="vadition__box-wrapper">
                    @Html.LabelFor(model => model.Password_User)
                    @Html.PasswordFor(model => model.Password_User, new { htmlAttributes = new { @class = "vadition__box-password" } })
                    @Html.ValidationMessageFor(model => model.Password_User)
                    @* thieu placeholder *@

                    @*<h1 style="color : red">  @ViewBag.LoginFail</h1>*@
                </div>
                <div class="vadition__box-decripstion">
                    We’ll call or text you to confirm your number. Standard message and data rates apply.
                    <p class="vadition__box-privacyPolity">Privacy Policy</p>
                </div>
                <button class="btn vadition__box-submit">Continue</button>
            </form>
        </div>
    </div>
}