@model IEnumerable<AirBNB_Admin.Models.Room>

@foreach (var pro in Model)
{
    <div class="content__box col l-3 m-4 c-6">
        <div class="content-img__box">
            <div class="content__wishlist">
                <a href="#" class="content__link"><i class="content-wishlist__icon fa-regular fa-heart"></i></a>
            </div>
            <div class="content__page">
                <p class="content__transition">.<span class="content__transition--no-chosen">....</span></p>
            </div>
            <div class="content__arrow">
                <i class="content-arrow__icon fa-solid fa-angle-right"></i>
            </div>
            <a href="#" class="content__link">
                <img src="@Url.Content(pro.Images_Room)" style="width : 100%; height : 188px" alt="Alternate Text" class="content__img" />
            </a>
        </div>
        <div class="content__infomation">
            <div class="content__header">
                <p>@Html.DisplayFor(model => pro.Room_Name)</p>
                <p class="content__rate"><i class="content__icon fa-solid fa-star"></i>4,88</p>
            </div>
            <p class="content__owner">@Html.DisplayFor(model => pro.Room_Discription)</p>
            <p class="content__date">@Html.DisplayFor(model => pro.Date) </p> 
            <p class="content__price">@Html.DisplayFor(model => pro.Price) $ / <span class="content__day">đêm</span></p>
        </div>
    </div>
}
