﻿@model AirBNB_Admin.Models.Rooms

@{
    ViewBag.Title = "Product_Detail_user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Containt__details">
    <div class="grid wide">
        <div class="header__details">
            <div class="header__details-above"><h1 class="header__details-headline">@Html.DisplayFor(model => Model.Room_Name)</h1></div>
            <div class="header__details-under">
                <div class="header__details-underleft">
                    <div class="header__details-assess">
                        <span class="assess__icon"><i class="assess__icon--star fa-solid fa-star"></i></span>
                        <span class="assess__number">5,0 ·</span>
                        <span class="text__header-details assess__ofturns"> 29 đánh giá</span>
                    </div>
                    <span class="assess__dotspace">.</span>
                    <div class="header__details-appellation">
                        <span class="appellation__icon"><i class="appellation__icon-medal fa-solid fa-signature"></i></span>
                        <span class="appellation__name">Chủ nhà siêu cấp</span>
                    </div>
                </div>
                <div class="header__details-underright">
                    <div class="details__share">
                        <button class="btn_details details__share-btn">
                            <div class="share-btn-icon"><i class="details__share-icon fa-solid fa-arrow-up-from-bracket"></i></div>
                            <span class="btn__header-details share-btn-text">Chia sẻ</span>
                        </button>
                    </div>
                    <div class="details__save">
                        <a href="/WishList/AddtoWish/@Model.Id_Room" style="color:black" class="btn_details details__save-btn">
                            <div class="save-btn-icon"><i class="details__save-icon fa-regular fa-heart"></i></div>
                            <span class="btn__header-details save-btn-text">Lưu</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end-header__details -->
        <!-- Picture__product -->
        <div class="Main__details-picture">
            <div class="pictures__details">
                <a href="#" class="dt__pture-parent dt__pture-left pture--parent">
                    <img src="@Url.Content(Model.Images_Room)">
                </a>
                <div class="dt__pture-parent dt__pture-right">
                    <div class="dt__pture-right--child dt__pture-right--child-fisrt">
                        <a href="#" class="pt__box-child pture--child pture--child-above">
                            <img src="@Url.Content(Model.Images_Room)">
                        </a>
                        <a href="#" class="pt__box-child pture--child pture--child-under">
                            <img src="@Url.Content(Model.Images_Room)">
                        </a>
                    </div>
                    <div class="dt__pture-right--child dt__pture-right--child-last">
                        <a href="#" class="pt__box-child pture--child pture--child-above">
                            <img src="@Url.Content(Model.Images_Room)">
                        </a>
                        <a href="#" class="pt__box-child pture--child pture--child-under">
                            <img src="@Url.Content(Model.Images_Room)">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end-picture__details -->
        <div class="Main__details-Oder">
            <div class="Order__Details-interface">
                <!-- infobox-Owner -->
                <div class="Details-interface__Infobox">
                    <!-- header-info-owner -->
                    <div class="Owner__Info--header">
                        <div class="Details__Owner-name">
                            <h2>AETOIDICODE. Chủ nhà CKR</h2>
                            <div class="Details__Roomfeatures">
                                <span class="Roomfeatures-text">2 khách</span>
                                <span class="assess__dotspace">.</span>
                                <span class="Roomfeatures-text">Phòng studio</span>
                                <span class="assess__dotspace">.</span>
                                <span class="Roomfeatures-text">1 giường</span>
                                <span class="assess__dotspace">.</span>
                                <span class="Roomfeatures-text">1 phòng tắm</span>
                                @*<span class="assess__dotspace">.</span>*@
                                @*<span class="Roomfeatures-text">@Html.DisplayFor(model => Model.Room_Description)</span>*@
                            </div>
                        </div>
                        <div class="Details__Owner-logo">
                            <img src="~/Assests/_image/details_img/rua.png" class="Owner__logo-img">
                            <span class="Owner__logo-icon"><i class="Owner__icon-tag fa-solid fa-signature"></i></span>
                        </div>
                    </div>
                    <!-- end header-info-owner -->
                    <hr style="border: 1px solid #e7e7e7;">
                    <!-- Utilities--box -->
                    <div class="Room__Utilities--main">
                        <ul class="Room__Utilities--box">
                            <li class="Room__Utilities--item">
                                <span class="Utilities--item-icon"><i class="Utilities-icon fa-solid fa-school-circle-check"></i></span>
                                <div class="Utilities--item-text">
                                    <h3 class="Utilities--item-header">Không gian riêng để làm việc</h3>
                                    <span class="Utilities--item-comment">Một căn phòng có Wi-fi, rất phù hợp để làm việc.</span>
                                </div>
                            </li>
                            <li class="Room__Utilities--item">
                                <span class="Utilities--item-icon"><i class="fa-solid fa-building-circle-check"></i></span>
                                <div class="Utilities--item-text">
                                    <h3 class="Utilities--item-header">Tự nhận phòng</h3>
                                    <span class="Utilities--item-comment">Tự nhận phòng bằng cách nhập mã số vào cửa.</span>
                                </div>
                            </li>
                            <li class="Room__Utilities--item">
                                <span class="Utilities--item-icon"><i class="fa-solid fa-calendar"></i></span>
                                <div class="Utilities--item-text">
                                    <h3 class="Utilities--item-header">Tự nhận phòng bằng cách nhập mã số vào cửa.</h3>
                                    <span class="Utilities--item-comment"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--end-Utilities--box -->
                    <hr style="border: 1px solid #e7e7e7;">
                    <div class="Room__About-box--service">
                        <ul class="Room__About-list grid row">
                            <li class="Room__About-item m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--beach fa-solid fa-umbrella-beach"></i>
                                </span>
                                <span class="service-text">
                                    Hướng nhìn ra núi
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--lake fa-solid fa-ferry"></i>
                                </span>
                                <span class="service-text">
                                    Hướng nhìn ra hồ
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--river fa-solid fa-ship"></i>
                                </span>
                                <span class="service-text">
                                    Ven sông/hồ/biển
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--kitchen fa-solid fa-kitchen-set"></i>
                                </span>
                                <span class="service-text">
                                    Bếp
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--wifi fa-solid fa-wifi"></i>
                                </span>
                                <span class="service-text">
                                    Wi-fi
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--localwork fa-solid fa-briefcase"></i>
                                </span>
                                <span class="service-text">
                                    Không gian riêng để làm việc
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--car fa-solid fa-car"></i>
                                </span>
                                <span class="service-text">
                                    Đỗ xe miễn phí trên đường vào nhà, trong khuôn viên
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--bath fa-solid fa-bath"></i>
                                </span>
                                <span class="service-text">
                                    Bồn tắm nước nóng riêng – có sẵn hoặc phục vụ quanh năm, mở cửa 24 giờ
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--pet fa-solid fa-paw"></i>
                                </span>
                                <span class="service-text">
                                    Cho phép thú cưng
                                </span>
                            </li>
                            <li class="Room__About-item  m-6 c-12">
                                <span class="service-icon">
                                    <i class="service-icon--neflit fa-solid fa-tv"></i>
                                </span>
                                <span class="service-text">
                                    HDTV với Netflix+
                                </span>
                            </li>
                        </ul>
                    </div>
                    <hr style="border: 1px solid #e7e7e7;">
                </div>
                <!-- orderbox-Owner -->
                <div class="Details-interface__Orderbox">
                    <div class="Oderbox-Main">
                        <div class="Order-box--UX">
                            <div class="Order-box--header">
                                <div class="Order-box--header_price">
                                    <span class="Oder_dollar"><i class="fa-regular fa-dollar-sign"></i></span>
                                    <span class="Order__price">@Html.DisplayFor(model => Model.Price) </span>
                                    <span class="Order__unit">/ đêm</span>
                                </div>
                                <div class="header__details-assess Order-box--header_report">
                                    <span class="assess__icon"><i class="assess__icon--star fa-solid fa-star"></i></span>
                                    <span class="assess__number">5,0 ·</span>
                                    <span class="assess__comment"> 29 đánh giá</span>
                                </div>
                            </div>
                            <div class="Order-box--body-Main">
                                <div class="Order-box--body">
                                    <button class="Order-box--body_Above">
                                        <div class="Order_Above-child">
                                            <span class="Order-text-head">NHẬN PHÒNG</span>
                                            <span class="add-day">@Html.DisplayFor(x=> x.Check_in)</span>
                                        </div>
                                        <div class="Order_Above-child">
                                            <span class="Order-text-head">TRẢ PHÒNG</span>
                                            <span class="add-day">@Html.DisplayFor(x => x.Check_out)</span>
                                        </div>
                                    </button>
                                    <div class="Order-box--body_Under">
                                        <span class="Order__Client">KHÁCH</span>
                                        <span class="Number__Client">1 khách</span>
                                    </div>
                                </div>
                            </div>
                            <div class="Order-btn--check">
                                <button class="Order-btn"><span class="Order-btn__text"><a href="/OrderProduct/Index_OrderProduct/@Model.Id_Room" style="text-decoration:none;color : whitesmoke;" >Đặt Phòng</a></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end order box -->
            </div>
        </div>
    </div>
</div>