@model IEnumerable<AirBNB_Admin.Models.Rooms>


<div class="content oo">
    <div class="grid wide">
        <div class="content__container row">
            @foreach ( var pro in Model)
            { 
                <div class="content__box col l-3 m-4 c-6">
                    <div class="content-img__box">
                        <div class="content__wishlist">
                            <a href="/WishList/AddtoWish/@pro.Id_Room" class="content__link">
                                <svg class="content-wishlist__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block;fill : @pro.active_heart;height: 24px;width: 24px;stroke: var(--f-mkcy-f);stroke-width: 2;overflow: visible;"><path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"></path></svg>
                            </a>
                        </div>
                        @*<div class="content__page">
                                <p class="content__transition">.<span class="content__transition--no-chosen">....</span></p>
                            </div>*@
                        <div class="content__arrow">
                            <i class="content-arrow__icon fa-solid fa-angle-right"></i>
                        </div>
                        <a href="Product/Product_Detail_user/@pro.Id_Room" class="content__link">
                            <img src="@Url.Content(pro.Images_Room)" style="width : 100%; height : 188px" alt="Alternate Text" class="content__img" />
                        </a>
                    </div>
                    <div class="content__infomation">
                        <div class="content__header">
                            <p>@Html.DisplayFor(model => pro.Room_Name)</p>
                            <p class="content__rate"><i class="content__icon fa-solid fa-star"></i>4,88</p>
                        </div>
                        <p class="content__owner">@Html.DisplayFor(model => pro.Room_Description)</p>
                        <p class="content__price">@Html.DisplayFor(model => pro.tongtientrong5ngay) $ / <span class="content__day">đêm</span></p>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



