@model AirBNB_Admin.Models.Category

@{
    ViewBag.Title = "Category_Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detail</h2>
<h4>Category</h4>
<div class="card bg-gradient-danger card-img-holder text-white"style="overflow:hidden!important">
    <div class="card-body" style="text-align:center">
        <img src="~/_layoutAdmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
        <img style="border-radius:0%!important" src="@Url.Content(Model.Image_Cate)" height="150" width="150" id="previewImg" />
        <h4 class="font-weight-normal mb-3" style="display:flex;align-items:center;justify-content:center">
            NAME<i style="padding-left:10px" class="mdi mdi-account-card-details"></i>
        </h4>
        @Html.DisplayFor(model => model.Name_Cate, new { @class = "mb-5" })
        <div style="padding:20px"></div>
        <h4 class="font-weight-normal mb-3" style="display:flex;align-items:center;justify-content:center">
            IMG-LINK<i style="padding-left:10px" class="mdi mdi-comment-alert-outline"></i>
        </h4>
        @Html.DisplayFor(model => model.Image_Cate, new { @class = "mb-5" })
    </div>
</div>
<div style="padding:20px"></div>

<div class="form-actions no-color">
    @Html.ActionLink("Edit", "Category_Edit", "Admin_Category", new { id = Model.ID_Cate }, new { @class = "btn btn-gradient-primary me-2" })
    @Html.ActionLink("Cancel", "Category_Control", "Admin_Category", new { @class = "btn btn-light" })
</div>