@{var user = Session["User"] as AirBNB_Admin.Models.User;}


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assests/CSS/UserMobile__css/userMobilecss.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="content">
        <div class="grid wide">
            <a href="@Url.Action("Index","UserMobile")" style="color:black"><i style="margin:20px 0px" class="user-mobile__icon fa-solid fa-chevron-left"></i></a>
            <h2 style="padding:0px 20px;">Thông tin cá nhân</h2>
            <a href="" style="text-decoration:none; color:black">
                <div class="user-mobile__box">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <div class="user-mobile__text">
                                <p>Tên pháp lý</p>

                                <p class="blur">@user.User_Name</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <a class="user-mobile__link" href="">Chỉnh sửa</a>
                    </div>
                </div>
                <div class="user-mobile__box">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <div class="user-mobile__text">
                                <p>Địa chỉ email</p>
                                <p class="blur">@user.Email</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <a class="user-mobile__link" href="">Chỉnh sửa</a>
                    </div>
                </div>
                <div class="user-mobile__box">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <div class="user-mobile__text">
                                <p>Số điện thoại</p>
                                <p class="blur">@user.Phone_number</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <a class="user-mobile__link" href="">Thêm</a>
                    </div>
                </div>

                <div class="user-mobile__box">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <div class="user-mobile__text">
                                <p>Địa chỉ</p>
                                <p class="blur">@user.Address</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <a class="user-mobile__link" href="">Thêm</a>
                    </div>
                </div>
                <div class="user-mobile__box">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <div class="user-mobile__text">
                                <p>Mật Khẩu</p>
                                <p class="blur">@user.Password</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <a class="user-mobile__link" href="">Thêm</a>
                    </div>
                </div>
            </a>
        </div>
        <div class="user-mobile__box">
            <div class="user-mobile__left">
                <div class="user-mobile__list">
                    <div class="user-mobile__text">
                        <a class="user-mobile__link" href="/UserMobile/User_Control/@user.ID_User">Chỉnh sửa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
