@model  IEnumerable<AirBNB_Admin.Models.User>

@{
    ViewBag.Title = "User_Control";
}
<h2 style="text-align:center">LIST PRODUCT</h2>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    @*<th>Image</th>  *@
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone_number</th>
                    <th>Address</th>   
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                                   <img style="border-radius:0%!important" src="@Url.Content(item.Images_Room)" height="150" width="150" id="previewImg" />
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.User_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        @*<td>
                                <label class="badge badge-danger">
                                    @Html.DisplayFor(modelItem => item.Images_Room)
                                </label>
                            </td>*@
                        <td>
                            <a href="/UserMobile/User_Edit/@item.ID_User" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="/UserMobile/User_Delete/@item.ID_User" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="/UserMobile/Info/@item.ID_User" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>